.post.title{
    width: 85%;
    height: 100px;
    margin-bottom: 5px;
    background-color:  #DDDCFC;
}

.top{
    margin-top: 10px;
    text-align: center;
    font-weight:bolder;
    color: rgb(106, 106, 106);
}
.search{
    margin-top: 20px;
    float: right;
}
.search.select{
    margin-right: 10px;
    height: 50px;
    width: 70px;
}
.search.in{
    margin-right: 10px;
    height: 50px;
    width: 250px;
}
.search.btn{
    margin-right: 55px;
    padding: 8px 22px;
    float: right;
    background-color: #9d9adf;
    border: 1px solid rgb(105, 105, 105);
}
.search.btn:hover{
    background-color: #605d93;
    border: 1px solid rgb(105, 105, 105);
}


.post.list{
    width: 80%;
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 40px;
    background-color: white;
}
table {
  
    width: 100%;
    border: 1px solid #ddd;
}

thead tr{
    border: 1px solid rgb(188, 188, 188);
    height: 60px;
    text-align: center;
}

td {
    text-align: center;
    padding: 16px;
}

tbody tr:hover{
    background-color: #DDDCFC;
}
.content {
    
    text-align: center;
    padding: 16px;
}

.content.c1,.content.c3{
    width: 100px
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}

.btns.delbtn{
    float: right;
    margin-left: 50px;
    margin-right: 58px;
    background-color: white;
}

.btns.addbtn{
    float: right;
    margin-right: 100px;
    background-color: white;
}

.btns.delbtn, .btns.addbtn{
    border-radius: 8px;
    color: white;
    padding: 8px 22px;
    background-color: #9d9adf;
    border: 1px solid rgb(105, 105, 105);
}

.btns.delbtn:hover, .btns.addbtn:hover{
    background-color: #605d93;
    border: 1px solid rgb(105, 105, 105);
}

.pagination{
    float: left;
    margin-left: 600px;
    margin-top: 50px;
}
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
  
.pagination a.active {
    background-color: #9d9adf;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #ddd;}

.detailbtn{
    border-radius: 8px;
    padding: 2.5% 3%;
    border: 1px solid rgb(105, 105, 105);
    background-color: #dad9fd;
}

.detailbtn:hover{
    background-color: rgb(153, 175, 251);
}