@charset "UTF-8";

  
  /* Style the footer */
.FooterButton {
	float: right;
    background-color: rgba(254, 190, 190, 1);
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    border: 0px;
    margin-left: 10%;
}

  
  
.htmlinFooter {
	width: 100%
}