.locationhead{
    float: left;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 30%
    
}

.location {
    float: right;
    text-align: center;
	margin-top: 10px    
}

.location td{
    height: 50px;
    text-align: left;
   	border: 1px solid black;
    }
    
